body{
    margin: 0;
    padding:0 ;
    background-color: bisque;
    font-family:'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 

    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.18'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");}

.home{
    overflow: hidden;
}
section{
    margin-bottom: 20px;
}
    /* -- -------------------- NAVBAR------------------- -- */

.nav-bar{
    position:fixed;
    border-radius:20px;
    width: 60%;
    left: 5%;
    padding: 10px 15%;
    display: flex;
    /* display: block; */
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: white;
    margin-top: 10px;
    z-index: 1;
    animation:fade-down 1s;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,0.25);
    transition: 0.55s;
}

@keyframes fade-down {
    0%{
    opacity: 0;
    transform: translateY(-30px), scale(0.9);
    } 
    100%{
        opacity: 1;
        transform: translateY(0), scale(1);
        }    
}
.nav-bar .logo{
    text-decoration: none;
    transition: 0.8s;
}
.nav-bar .logo:hover{
    scale:1.1;
}
.nav-bar ul{
    list-style: none;
    display: flex; 
    padding-inline-start: 0;
}
.nav-bar ul li{
    margin-right: 20px;
    transition: 0.55s;

}
.nav-bar ul li a{
    text-decoration: none;
    color:rgb(2, 2, 32);
    transition: 1s;
    position: relative;
}
.nav-bar ul li a::after{
    content: '';
    position: absolute;
    background-color: orange;
    width:0;
    left: 0;
    bottom: -3.5px;;
    height: 2px;
    border-radius: 20px;
    transition: 0.3s ease-in;
}
.nav-bar ul li a:hover::after{
    width: 100%;
}
.nav-bar ul li a:hover{
    color: rgb(111, 74, 4);
}
.nav-bar ul li .active-link{
    color: rgb(111, 74, 4);
}
.nav-bar ul li .active-link::after{
    content: '';
    position: absolute;
    background-color: orange;
    width:100%;
    left: 0;
    bottom: -3.5px;;
    height: 2px;
}

.toggle {
    display: none;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 20px;
  }

  .change .bar1 {
    transform: translate(0, 9px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -9px) rotate(45deg);
  }

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.nav-bar-scrolled{
    width: 80%;
    max-width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    position: fixed;
    border-radius: 0;
    margin-top: 0;
    left: 0;
    box-shadow: 0 60px 80px rgba(0,0,0,0.60), 0 45px 26px rgba(0,0,0,0.14);

    
    
    

}
/* -- --------------------END OF NAVBAR------------------- -- */

/* -- ---------------------HERO SECTION-------------------------- -- */
.carousel-slider{
    /* border:5px solid pink; */
    width: 300vw;
    overflow: hidden;
    display:flex;
    position: relative;
    transition: all 0.55s;
    
}
.controls .left, .right{
    position: absolute;
    top:50%;
    color:white;
    cursor: pointer;
    opacity: 0.52;
}
.controls .left{
    left: 15px;
}
.controls .right{
    right:15px;
}
.controls ul{
    position:absolute;
    bottom: 10px;
    left:47%;
    margin:0;
    padding: 0;
    display: flex;

}
.controls ul li{
    list-style: none;
    margin-right:10px;
    width:10px;
    height: 10px; 
    border:solid 2px white;
    border-radius: 50%;

}
.selected-slider-indicator{
    background-color: white;
}

.hero-container{
    background-image:linear-gradient(rgba(42, 41, 41,0.65),rgba(42, 41, 41,0.65)),url("/client/images/dwm-service.jpg"), linear-gradient(rgba(62, 61, 61,0.5),rgba(62, 61, 61,0.5));
    height:100vh;
    width: 100vw;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur();
    text-align: center;
    justify-content: center;
    align-items: center;
    /* margin-top: -20px; */
}


.hero-container .text-container, .hero-container2 .text-container, .hero-container3 .text-container{
    /* border:solid black 1px; */
    line-height: 10px;
    height: fit-content;
    width: fit-content;
    margin: auto;
    padding: 20px 40px;
    border-radius:20px;
    position: relative;
    top:200px;
    background-image: radial-gradient(rgba(28, 27, 27, 0.9),rgba(78, 76, 76,0.5));
    box-shadow: 0 60px 80px rgba(0,0,0,0.60), 0 45px 26px rgba(0,0,0,0.14);
    animation: fade-down 2.5s;
    transition: 1s;
}
.text-container:hover{
    scale: 1.2;
}
.text-container h2{
    color:white;
}
.text-container .small text{
    font-size: 2rem;
    font-weight: 900;
}
.text-container .big-text{
    line-height: 10px;
    font-size: 3.5rem;
    font-weight:900;
}
.giant-text{
    font-size: 5.5rem !important;
    margin-top: 15px;
}
.hero-container2{
    background-image:linear-gradient(rgba(42, 41, 41,0.65),rgba(42, 41, 41,0.65)),url("/client/images/dwm-servicepic4.jpg"), linear-gradient(rgba(62, 61, 61,0.5),rgba(62, 61, 61,0.5));
    height:100vh;
    width: 100vw;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    /* margin-top: -20px; */
}

.hero-container3{
    background-image:linear-gradient(rgba(42, 41, 41,0.65),rgba(42, 41, 41,0.65)),url("/client/images/dwm-servicepic5.jpg"), linear-gradient(rgba(62, 61, 61,0.5),rgba(62, 61, 61,0.5));
    height:100vh;
    width: 100vw;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    /* margin-top: -20px; */
}
/* -- -----------------------END OF HERO SECTION-------------- -- */

.contents{
    padding:0 50px;
    position: relative;
    text-align: center;
}
/* -- -----------------------VALUES SECTION-------------- -- */
.about-us-btn{
    position: relative;
    width: fit-content;
    left: 45%;
    top: 50px;
    margin: 0;
    padding:10px 20px;
    border:solid 1px orange;
    color: indigo;
    font-size: 1.5rem;
    border-radius:25px;
    transition: 0.5s;
    z-index:1 ;
}
.about-us-btn:hover{
    color:white;
}
.about-us-btn::after{
    content: '';
    position:absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right,orange,rgb(248, 188, 77),rgb(233, 215, 183));
    border-radius:25px;
    z-index:-1 ;
    width:0;
   
    transition: 0.8s ease-in-out;
}
.about-us-btn:hover::after,.about-us-btn:focus::before{
    /* transform: scaleX(1); */
    width:100%;
    
}
.about-us-btn a{text-decoration: none;}


.values-container{
    position: relative;
    display: flex;
    width: 80%;
    height: 70vh;
    overflow: hidden;
    margin: 50px 0 50px 0;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    position: relative;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    

}
.value{
    transition: 1s ease;
    animation:slider 15s infinite;
}
@keyframes slider {
    0%{
        transform: translateX(0);
    }
    15%{
        transform: translateX(0%);
    }
    20%{
        transform: translateX(-100%);
    }
    35%{
        transform: translateX(-100%);
    }
    40%{
        transform: translateX(-200%);
    }
    55%{
        transform: translateX(-200%);
    }
    60%{
        transform: translateX(-300%);
    }
    75%{
        transform: translateX(-300%);
    }
    85%{
        transform: translateX(-400%);
    }
    100%{
        transform: translateX(-400%);
    }
  

}
.value h2{
    color: white;
    position: absolute;
    left: 35px;
    bottom: 120px;
    text-shadow: 5px 5px 10px black;
}

.value{
    position: relative;
    min-width:100%;
    height:100%;
    border:solid 1px white;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.858),black,black,rgba(0, 0, 0, 0.858));
    font-size: 2.5rem;
 
}
.value img{
    /* width: 100%; */
    height: 100%;
}

.values-header{
    color:indigo;
    font-size: 2rem;
    margin:150px 0 80px 0;  
    position: relative;
}
.values-header::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 170px;
    border-radius: 20px;
    background-color: orange;
    bottom: -10px;
}

@media (max-width:500px) {
    .values-container{
    width: 100%;
    }
}
@media (max-width:817px) {
    .value img{
        width:100%;
    }

}
@media (max-width:470px) {
    .contents{
        padding:5px;
    }
}
/* ------------------------ END OF VALUE SECTION ---------------- */
@media (max-width:858px) {
    /* -- -------------------- media query --> NAVBAR------------------- -- */
    .nav-bar{
        text-align: left;
    }
    .toggle{display: inline-block;
}
    .nav-bar ul{
        display:none;
        width: 100%;
        text-align: center;
    }
    .nav-bar ul li{
        margin: 10px;
    }
    .nav-bar .list-container {

    display: inline-block;
}
.nav{
    display: block;
    
}
.nav .toggle{
   position: relative;
   left: 80%;
}

.controls .left, .controls .right{
    display: none;
}


/* -- --------------------END OF NAVBAR media queries------------------- -- */

/* -------------------some media queries for value section slideshow------------- */
.value h2{
    left: 30px;
    
}

/* SOME MEDIA QUERIES */
}
@media (max-width:539px) {
    .hero-container .text-container{
        line-height: 15px;
    }
    .hero-container .text-container .big-text{
        font-size: 2rem;
        white-space: nowrap;
        
    }
    .hero-container .text-container .small-text{
        font-size: 1.3rem;
    }
    
}
@media (max-width:300px) {
    .hero-container .text-container .big-text{
        font-size: 2rem;
        white-space: nowrap;
    }
    .hero-container .text-container .small-text{
        font-size: 1.3rem;
    }
}


/* ----------------------- FOOTER -------------------------- */
.footer{
    background-color: #24262b;
    padding: 50px 0;
    border-top-left-radius: 150px;
    margin-top: 150px;
}
.footer .container{
    max-width: 80%;
    margin: auto;
    /* padding-left: 50px; */
   
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
    padding: 0;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col{
    width: 25%;
    padding: 0;
    
    
}
ul a{text-decoration: none;color: #bbbb;transition: 0.2s;}
.footer-col ul a:hover{
    padding-left: 10px;
}
ul .address{padding: 0 !important;margin-right: 30px;}
.footer-col h4{
    color: white;
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 30px;
    position: relative;
}
.footer-col h4::before{
    content:'';
    position: absolute;
    width: 30%;
    height: 2px;
    border-radius: 20px;
    left: 0;
    bottom: -10px;
    background-color: orange;
}
.social-links{
    align-items: center;
}

.social-links a{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 10px 10px 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.55);
    line-height: 40px;
    text-align: center;
    color: white;
}
.social-links a:hover{
    background-color: white;
    color:#24262b ;
    scale: 1.15;
}
.social-links .mixlr{
    width: 80px;
    border-radius: 20px;
    margin: 0;
}
.social-links .mixlr:hover{
    background-color: rgba(255, 255, 255, 0.89);
    scale: 1.05;
}

@media (max-width:900px) {
.footer-col{
    width: 50%;
}    
}
@media (max-width:600px) {
.footer-col{
    width: 100%;  
}  
 /* some media query for about u button in the value section */
 .about-us-btn{
    left: 30%;
 }
}
@media (max-width:400px) {
    .about-us-btn{

    }
    .footer{padding-top:25% ;}
}

/* --------------------END OF FOOTER-------------- */